<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Codecool Application Process - {% block title %}Main Page{% endblock %}</title>
        <link rel='icon' type='image/png' href='/static/img/codecool.png'>
        <link rel='stylesheet' type='text/css' href='/static/css/style.css'>
        {% endblock %}
    </head>
    <body>
        <div class='topnav' id='top-nav'>
        {% for item in menu_items %}
            {% if item[0] == active_item %}
            <a href= '/{{ item[0] }}' class='active'> {{ item[1] }} </a>
            {% else %}
            <a href= '/{{ item[0] }}' class='inactive'> {{ item[1] }} </a>
            {% endif %}
        {% endfor %}
        </div>
        {% block content_title %} <h1>Application Process v2.0 </h1>{% endblock %}
        
        {% block content_table %}
        {% if not main_page %}
        <table>
            <tr id='table-header'>
            {% for header_item in table_header %}
                <td> {{ header_item }} </td>
            {% endfor %}
            </tr>
            {% for row in table %}
            <tr>
                {% for field in row %}
                    <td> {{ field }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endblock %}
    </body>
</html>